@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "monserrat"; 
    background-color: #716969; 
}
html{
  scroll-behavior: smooth;
}

/* Estilos para el header */
.header {
  border-bottom: 1px solid #E5E5E5;
  padding: 0px;
  
}
.nav-link {
  text-align: center;
  font-size: 3rem;
  color: #555;
  transition: all 0.6s ease-in-out;
  word-spacing: 8px;
  letter-spacing: 4px;
  
}

.nav-link:hover {
  color: #FF69B4;
  transform: scale(1.2);
}

@media (max-width: 991.98px) {
  .navbar-nav {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    display: none;
    width: 100%;
    background-color: #555;
    padding: 10px;
    border-top: 1px solid #E5E5E5;
  }

  .navbar-nav li {
    text-align: center;
    margin: 10px 0;
    position: relative;
    
  }
  .navbar-toggler {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
  }

  .navbar-toggler span,
  .navbar-toggler span:before,
  .navbar-toggler span:after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: all 0.2s ease-in-out;
  }

  .navbar-toggler span:before {
    content: "";
    top: -8px;
  }

  .navbar-toggler span:after {
    content: "";
    bottom: -8px;
  }

  .navbar-toggler.collapsed span:before {
    transform: rotate(-45deg);
    top: 0;
  }

  .navbar-toggler.collapsed span {
    transform: rotate(45deg);
    background-color: #333;
  }

  .navbar-toggler.collapsed span:after {
    transform: rotate(45deg);
    bottom: 0;
  }

  .navbar-toggler.collapsed + .navbar-collapse {
    display: block;
  }

  .navbar-nav li a {
    font-size: 1.5rem;
    color: #555;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #E5E5E5;
    
  }

  .navbar-nav li:last-child a {
    border-bottom: none;
  }

  .navbar-nav li a:hover {
    color: #FF69B4;
  }
}
.main {
  background-image: url("../img/icons\ js\ html.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  opacity: 0.3;
}

.image-section {
  position: relative;
  height: 800px;
  background-image: url('../img/icons\ js\ html.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.text-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: whitesmoke;
  height: 40%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
  
}
  .title1{
    color: #FF69B4;
    font-size: 5rem
  }

 
  




